[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anndata"]
	path = anndata
	url = https://github.com/dynverse/anndata
[submodule "babelwhale"]
	path = babelwhale
	url = https://github.com/dynverse/babelwhale
[submodule "dyndimred"]
	path = dyndimred
	url = https://github.com/dynverse/dyndimred
[submodule "dyngen"]
	path = dyngen
	url = https://github.com/dynverse/dyngen
[submodule "dynparam"]
	path = dynparam
	url = https://github.com/dynverse/dynparam
[submodule "dynutils"]
	path = dynutils
	url = https://github.com/dynverse/dynutils
[submodule "dynwrap"]
	path = dynwrap
	url = https://github.com/dynverse/dynwrap
[submodule "lmds"]
	path = lmds
	url = https://github.com/dynverse/lmds
